	TARA_038_MES_0.22-1.6_G.snv.filtered.bam	TARA_039_MES_0.22-1.6_G.snv.filtered.bam	TARA_100_MES_0.22-3_G.snv.filtered.bam	TARA_111_MES_0.22-3_G.snv.filtered.bam	TARA_137_DCM_0.22-3_G.snv.filtered.bam
TARA_038_MES_0.22-1.6_G.snv.filtered.bam	0.0	0.0	0.0	0.0	0.0
TARA_039_MES_0.22-1.6_G.snv.filtered.bam	0.0	0.0	0.0	0.0	0.0
TARA_100_MES_0.22-3_G.snv.filtered.bam	0.0	0.0	0.0	0.0	0.0
TARA_111_MES_0.22-3_G.snv.filtered.bam	0.0	0.0	0.0	0.0	0.0
TARA_137_DCM_0.22-3_G.snv.filtered.bam	0.0	0.0	0.0	0.0	0.0
